@use "style" as *;

.account-container{
	display: flex;
	min-height: 100vh;
	background-color: white;
	flex-wrap: nowrap;
	font-family: "Poppins", serif;
	.left-wrapper{
		display: none;
		padding: 10px;
		background-color: $brand-100;
		width: 50%;
		flex-shrink: 0;
		@media (min-width: $lg-breakpoint) {
			display: flex;
			justify-content: center;
		}

		@media (min-width: $xl-breakpoint) {
			width: 40%;
		}
		.left{
			color: white;
			max-height: 800px;
			max-width: 430px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			gap: 48px;
			.text{
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
				text-align: center;
			}
			.logo-1{
				height: auto;
			}
			.logo-2{
				transition: all 0.5s ease;
				&:hover, &:hover img {
					transform: rotate(2deg) scale(1.1);
				}
			}
		}


	}
	.right-wrapper{
		flex: 1;
		display: flex;
		justify-content: center;
		.right{
			width: min(580px, 100%);
			display: flex;
			flex-direction: column;
			@media (min-width: $lg-breakpoint){
				justify-content: center;
			}
			align-items: center;
			.logo-wrapper{
				margin-bottom: 2rem;
				@media (min-width: $lg-breakpoint){
					display: none;
				}
				.logo{
					width: 200px;
					@media (min-width: $lg-breakpoint){
						width: 250px;
					}
				}
			}
			h1 {
				height: 56px;
				font-weight: 700;
				line-height: 56px;
				color: $light-100;
			}
			.message-wrapper{
				display: flex;
				align-items: center;
				gap: 5px;
				a{
					color: $brand;
					font-style: italic;
					&:hover{
						opacity: 80%;
					}
				}
			}
			.auth2{
				width: 100%;
				margin: 10px;
				display: flex;
				gap: 15px;
				justify-content: center;
				.auth2-button{
					p-image{
						width: 30px;
						height: 30px;
					}

				}
			}
		}
	}


}
