@use "variable" as v;
@use "util" as u;
$gap: 35px;
:host{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap;
  text-align: center;
  margin-top: $gap;
  .message{
    :nth-child(2) {
      line-height: 20px;
      color: v.$light-100;
      font-weight: 600;
    }
  }
  p-button {
    ::ng-deep button.primary-btn {
      @extend .primary-btn !optional;
      height: 66px !important;
    }
  }
}