<form
        method="post"
        (ngSubmit)="submit()"
        class="auth-form"
        [formGroup]="form"
        *ngIf=" userId | permission: 'User': Action.Write"
>
    <div class="shad-form-item">
        <label class="shad-form-label" for="username">{{ "Username" | translate }}</label>
        <input
                class="shad-input"
                placeholder="{{'UsernamePlaceholder' | translate}}"
                id="username"
                autocomplete="off"
                type="text"
                formControlName="username"
        />
        <validation-message [formCtrl]="form.get('username')!"></validation-message>
    </div>

    <div class="shad-form-item">
        <label class="shad-form-label" for="password">{{ "Password" | translate }}</label>
        <input
                class="shad-input"
                placeholder="{{'PasswordPlaceholder' | translate}}"
                id="password"
                type="password"
                autocomplete="off"
                formControlName="password"
        />
        <validation-message [formCtrl]="form.get('password')!"></validation-message>
    </div>
    <p-button label="{{'Submit' | translate}}" styleClass="primary-btn" type="submit" fluid/>
    <ng-container appBusy [busyIf]="loading"></ng-container>
</form>