<div class="reset-message ">
    <p>{{'ForgotPasswordMessage' | translate}}</p>
</div>
<form
        method="post"
        (ngSubmit)="forgotPassword()"
        class="auth-form" [formGroup]="form"
        *ngIf=" ROOT_OBJECT | permission: 'Authentication': Action.Write"
>
    <div class="shad-form-item">
        <label class="shad-form-label" for="email">{{ "Email" | translate }}</label>
        <input
                class="shad-input"
                placeholder="{{'EmailPlaceholder' | translate}}"
                id="email"
                autocomplete="off"
                type="text"
                formControlName="email"
        />
        <validation-message [formCtrl]="form.get('email')!"></validation-message>
    </div>
    <p-button label="{{'ResetPassword' | translate}}" styleClass="primary-btn" type="submit" fluid/>
</form>
