@use "header/variable" as hv;
@use "variable" as v;
:host{
  grid-area: logo;
  display: flex;
  justify-content: start;
  align-items: center;
  width: hv.$header-logo-icon-width;
  height: 100px;
  background-color: v.$white;
  padding-left: 36px;
}