<h1>{{ 'Security' | translate }}</h1>
<div class="security-content">
    <ng-container appBusy [busyIf]="loading">
        <app-accordion
                [title]="'SecurityTitle' | translate"
                [description]="'SecurityDescription' | translate"
        >
            <ng-container *ngFor="let item of securityItems; let isLast = last">
                <app-accordion-item [mode]="'compact'" [isLast]="isLast" [item]="item"></app-accordion-item>
            </ng-container>
        </app-accordion>
    </ng-container>
</div>
