@use "util" as u;
@use "header/variable" as hv;
@use "header/util" as hu;
@use "variable" as v;

.menu-container {
    .menu-section {
        &.bottom-border {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    .sub-menu {
        overflow: visible;
        display: flex;
        flex-direction: column;

        ::ng-deep b-menu {
            display: block !important;
            flex: 1;

            .menu-container {
                position: static;
            }
        }
    }

    .menu-header {
        display: flex;
        align-items: center;
        font-size: 1rem;
        height: fit-content;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
