<form method="post" (ngSubmit)="login()" class="auth-form" [formGroup]="loginForm" >
    <div class="shad-form-item">
        <label class="shad-form-label" for="username">{{ "Username" | translate }}</label>
        <input
                class="shad-input"
                placeholder="{{'UsernamePlaceholder' | translate}}"
                id="username"
                autocomplete="off"
                type="text"
                formControlName="username"
        />
        <validation-message [formCtrl]="loginForm.get('username')!"></validation-message>
    </div>

    <div class="shad-form-item">
        <label class="shad-form-label" for="password">{{ "Password" | translate }}</label>
        <input
                class="shad-input"
                placeholder="{{'PasswordPlaceholder' | translate}}"
                id="password"
                type="password"
                autocomplete="off"
                formControlName="password"
        />
        <validation-message [formCtrl]="loginForm.get('password')!"></validation-message>
    </div>
    <div class="forgot-password"><small>{{ "ForgotPassword" | translate }}</small></div>
    <p-button label="{{'SignIn' | translate}}" styleClass="primary-btn" type="submit" fluid/>

</form>

