@use "style" as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .auth-form {
    p-button{
      ::ng-deep button.primary-btn{
        height: 66px !important;
      }
    }
    .forgot-password{
      display: flex;
      small{
        margin-left: auto;
        margin-top: -10px;
        color: $brand;
        cursor: pointer;
        &:hover{
          opacity: 80%;
        }
      }
    }
  }
}
