@use "variable" as v;
@use "util" as u;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .auth-form {
        p-button {
            ::ng-deep button.primary-btn {
                @extend %primary-btn !optional;
                height: 66px !important;
            }
        }

        .forgot-password {
            display: flex;

            a {
                margin-left: auto;
                margin-top: -10px;
                color: v.$brand;
                cursor: pointer;

                &:hover {
                    opacity: 80%;
                }
            }
        }
    }
}
