<div class="security-message">
    <p class="headline">{{'PasswordHeadline' | translate}}</p>
    <p class="subtext">{{'PasswordSubtext' | translate}}</p>
</div>
<div class="password-container">
    <form
            method="post"
            (ngSubmit)="submit()"
            class="auth-form"
            [formGroup]="form"
            *ngIf=" id | permission: 'User': Action.Write"
    >
        <div class="shad-form-item">
            <label class="shad-form-label" for="password">{{ "Password" | translate }}</label>
            <input
                    class="shad-input"
                    placeholder="{{'PasswordPlaceholder' | translate}}"
                    id="password"
                    type="password"
                    autocomplete="off"
                    formControlName="password"
            />
            <validation-message [formCtrl]="form.get('password')!"></validation-message>
        </div>
        <div class="password-strength-container">
            <p class="strength-label">{{'PasswordStrength' | translate}}</p>
            <p class="strength-info">{{'PasswordStrengthMessage' | translate}}</p>

        </div>
        <div class="shad-form-item">
            <label class="shad-form-label" for="confirmed-password">{{ "ConfirmedPassword" | translate }}</label>
            <input
                    class="shad-input"
                    placeholder="{{'ConfirmedPasswordPlaceholder' | translate}}"
                    id="confirmed-password"
                    type="password"
                    autocomplete="off"
                    formControlName="confirmedPassword"
            />
            <validation-message
                    [formCtrl]="form.get('confirmedPassword')!"
                    [Errors]="[{ error: 'passwordMismatch', localizationKey: 'PasswordMismatch' }]"
            ></validation-message>
        </div>
        <p-button label="{{'Submit' | translate}}" styleClass="primary-btn" type="submit"/>
    </form>
    <ng-container appBusy [busyIf]="loading"></ng-container>
</div>
