@use "util" as u;

:host{
  width: 100%;
  .reset-message{
    text-align: center;
    font-size: 12px;
  }
  .auth-form {
    p-button {
      ::ng-deep button.primary-btn {
        @extend .primary-btn !optional;
        height: 66px !important;
      }
    }
  }
}