@use "variable" as v;
@use 'sass:color';
@use "util" as u;

:host {
    grid-area: sidebar;
    background-color: v.$white;

    .sidebar-scroll {
        overflow: hidden;
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding: 30px 0 0 15px;
        .back{
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            gap: 10px;
            font-weight: 600;
            margin-bottom: 26px;
        }
    }

}
