@use "variable" as v;
@use 'sass:color';

.header-1 {
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
    margin: 0;
}

.body-1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
}

.body-2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

%primary-btn, .primary-btn {
    @extend .btn !optional;
    background-color: v.$brand;
    transition: all 0.2s ease-in-out;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    border: none;

    &:hover {
        background-color: v.$brand-100;
    }
}

.form-submit-button {
    @extend .primary-btn !optional;
    height: 66px;
}

.shad-no-focus {
    outline: none;

    &:focus,
    &:focus-visible {
        outline: none;
        box-shadow: none;
    }
}

.shad-input {
    @extend .body-1 !optional;
    @extend .shad-no-focus !optional;
    border: none;
    box-shadow: none;
    padding: 0;
    outline: none;
    width: 100%;

    &::placeholder {
        color: v.$light-200;
        font-weight: 600;
        opacity: 60%;
    }
}

.shad-form-item {
    display: flex;
    height: 78px;
    flex-direction: column;
    gap: 8px;
    border: 1px solid white;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 30px 0 #4247611A;
    width: 100%;
    position: relative;
}

.shad-form-label {
    @extend .body-2 !optional;
    color: v.$light-100;
    padding-top: 0.5rem;
    width: 100%;
}

.auth-form {
    width: min(580px, 100%);
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.auth2-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #f1f1f1;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
}

.form-message {
    position: absolute;
    @extend .body-2 !optional;
    color: red;
    bottom: -1.4rem;
}

.custom-otp-input {
    width: 58px;
    height: 58px;
    font-size: 24px;
    appearance: none;
    text-align: center;
    border-radius: 0;
    border: 1px solid var(--p-slate-300);
    background: transparent;
    outline-offset: -2px;
    outline-color: transparent;
    border-right: none;
    transition: outline-color 0.3s;
    color: var(--p-slate-700);

    &:focus {
        outline: 2px solid var(--p-slate-950);
    }

    &:first-child,
    &:nth-child(5) {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    &:nth-child(3),
    &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-right: 1px solid var(--p-slate-300);
    }
}

.dialog {
    border-radius: 26px;
    background: white;
}

.menu-item{
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 0 16px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.icon-1{
    box-shadow: 0 9.583px 28.75px 0 rgba(66, 71, 97, 0.10);
    background-color: v.$white;
    border-radius: 28.75px;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: color.adjust(v.$brand, $lightness: 25%);
        box-shadow: 0 12px 32px rgba(66, 71, 97, 0.15);
    }
}