$brand-100: #EA6365;
$brand: #FA7275; // Default brand color

// Other Colors
$red: #FF7474;
$error: #b80000;
$green: #3DD9B3;
$blue: #56B8FF;
$pink: #EEA8FD;
$orange: #F9AB72;

// Light Theme Colors
$light-100: #333F4E;
$light-200: #A3B2C7;
$light-300: #F2F5F9;
$light-400: #F2F4F8;

// Dark Theme Colors
$dark-100: #04050C;
$dark-200: #131524;

$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
